@model IEnumerable<MvcWebRole.Models.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Create task for solver</h2>

<div>
    @Html.ActionLink("Create new task", "Create")
</div>

<div>
    @Html.ActionLink("List of all tasks", "List")
</div>
